.hero-card {
  width: 70%;
  &--title {
    background-color: rgba($color: #f0e7e7, $alpha: 0.8);
    text-align: center;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
    .btn {
      font-size: 1.2rem;
    }
  }
}

.list {
  display: flex;
  font-size: 1.7rem;
  list-style: none;
  text-align: center;

  &--item {
    padding: 1rem;
    margin: 1rem;
    font-weight: 500;
  }

  &--description {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
